
.OrbitPlusSin_container
{
	display:        flex;
	flex-direction: column;
    padding:        3rem 2rem;
}

.OrbitPlusSin_dotted
{
	border-top: dashed var( --line-dimmed );
	height:     100%;
	margin-top: 2rem; 
	position:   relative;
}

.OrbitPlusSin_semicircle,
.OrbitPlusSin_semicircle::after
{
	position: absolute;
	top:      0;
	width:    11.25rem;
	height:   10.25rem;
	left:     calc(5.125rem - 2px);
	overflow: hidden;
}

.OrbitPlusSin_semicircle::after
{
	content:       '';
	position:      absolute;
	border-radius: 50%;
	top:           -5.125rem;
	left:          0;
	width:         10.25rem;
	height:   10.25rem;
	border:        solid var(--line-dimmed );
}

@keyframes pendulumOscillation 
{
	from
	{
		transform: rotate( 0 );
	}

	to
	{
		transform: rotate( -158deg );
	}
}

.OrbitPlusSin_pendulum
{
	position:      absolute;
	border-radius: 50%;
	top:           -5.125rem;
	left:          5.125rem;
	width:         10.25rem;
	height:   10.25rem;
	animation:        pendulumOscillation 1s ease-in-out alternate infinite;
}

.OrbitPlusSin_pendulum::before,
.OrbitPlusSin_pendulum::after 
{
    content: '';
    position: absolute;
    background-color: var( --line-dimmed );
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    top: calc( 50% - 0.25rem);
    left: calc( 50% - 0.25rem);
}

.OrbitPlusSin_pendulum::after
{
	width:  2rem;
	height: 2rem;
	top:    50%;
	left:   -1rem;
}


.OrbitPlusSin_pendulum > div 
{
    width:            6.125rem;
    border:           solid thin;
    position:         absolute;
    top:              calc(50% - 1px);
    left:             0.85rem;
    transform-origin: 4.125rem 0;
    transform:        rotate(-10deg);
}

.OrbitPlusSin_label
{
	font-size: 0.7rem;
	position: absolute;
	top: 0;
	left: 0;
}